*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
notes.txt
.buildpath
.settings/
.project
.idea
node_modules
content/css/printer.css
content/css/printer.min.css
content/css/all.css
content/css/all.min.css
content/js/all.js
content/js/all.min.js
content/css/welcome.css
content/css/welcome.min.css
content/js/welcome.js
content/js/welcome.min.js